*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #534f4d;
}


/* 共通　セクションタイトル */
.section-title{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0vw;
  margin: 0;
  padding-left: 5%;
}

/* /共通　セクションタイトル */




/* ヘッダー */
header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
}

#HNlogo{
  width: 10%;
  height: auto;
  padding-left: 2%;
}

#HNlogo img{
  width: 100%;
  height: auto;
}

#nav-list{
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 2px white, 0 0 2px white;
}

header > a,.nav-item a{
  text-decoration:none; 
}

header > a,.nav-item a:link{
  color: #534f4d;
}

header > a,.nav-item a:visited{
  color: #534f4d;
}

.nav-item a:hover{
  text-decoration: underline;
}

.nav-item{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 25px;
  padding: 0 10px;
}

/* スマホ用ハンバーガーメニュー設定 */
@media screen and (min-width: 768px){
  #sp-menu{
    display: none;
  }

  #sp-nav{
    display: none; 
  }

  #sp-catchcopy{
    display: none;
  }
}
/* /スマホ用ハンバーガーメニュー設定 */

/* /ヘッダー */


/* トップページ */
/* メインビジュアル */
#main-visual{
  aspect-ratio: 7 / 5;
  width: 100%;
  background-color: #F7F5EB;
  position: relative;
}

#mv-container{
  width: 100%;
  height: auto;
}

#mv-container p{
  display: block;
  writing-mode: vertical-rl;
  line-height: 3.5vw;
  position: absolute;
    top: 15%;
    left: 8%;
    font-size: 2vw;
}

#mv-img{
  width: 75%;
  margin: 0;
  position: absolute;
    top: 0%;
    right: 0%;
}

#mv-img img{
  width: 100%;
  height: auto;
  border-radius: 0 0 0 80px;
}

#mv-catchcopy{
  width: 25%;
  height: auto;
  position: absolute;
    top: 15%;
    left: 0%;
  text-align: center;
}

#mv-catchcopy img{
  width: 70%;
  height: auto;
}

#mv-name{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  position: absolute;
    bottom: 8%;
    left: 0%;
}

#mv-name p{
  font-size: 13vw;
  color: #cfc6c1;
  letter-spacing: -0.3vw;
  margin: 0;
}

.pink{
  color: #EAC7C7;
}

#mv-flower{
  width: 12%;
  height: auto;
  position: absolute;
    bottom: -0.5%;
    right: 0%;
}

#mv-flower img{
  width: 100%;
  height: auto;
}

/* /メインビジュアル */


/* WORKSセクション */
#WORKS{
  width: 100%;
  background-color: #cfc6c1;
  padding-top: 100px;
  padding-bottom: 100px;
}

#works-div{
  width: 100%;
  height: 15.0vw;
  position: relative;
}

#works-title{
  width: 100%;
  height: 10.0vw;
  position: relative;
}

#works-title h2{
  position: absolute;
  color: #fbfbf8;
  z-index: 30;
}

#works-title div{
  background-color: #eac7c7;
  width: 30.0vw;
  height: 3.5vw;
  position: absolute;
    bottom: 0%;
    left: 0%;
  z-index: 20;
}

#works-flower{
  width: 30%;
  height: auto;
  position: absolute;
    top: -50%;
    left: 35%;
}

#works-flower img{
  width: 100%;
  height: auto;
  transform: rotate( 60deg );
}

#works-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 10px 10px;
  justify-content: space-around;
  margin: 50px 50px 0 50px;
}

.works-figure{
  width: 300px;
  height: auto;
  aspect-ratio: 2232 / 1592;
  margin: 0 auto;
  background-color: white;
  box-shadow: 4px 4px 15px -12px #777777;
}

.works-figure img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.works-name{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 0;
}

.works-skill{
  margin-top: 0;
}

.works-link{
  text-decoration: none;
}

.works-link:link{
  color: #534f4d;
}

.works-link:visited{
  color: #534f4d;
}
/* /WORKSセクション */



/* SKILLセクション */
#SKILL{
  width: 100%;
  background-color: #f7f5eb;
  padding-top: 100px;
  padding-bottom: 100px;
}

#skill-div{
  width: 100%;
  height: 15.0vw;
  position: relative;
}

#skill-title{
  width: 100%;
  height: 10.0vw;
  position: relative;
  z-index: 20;
}

#skill-title h2{
  position: absolute;
  color: #cfc6c1;
  z-index: 30;
  text-shadow:
    1px 1px 0 #FFF,
    -1px 1px 0 #FFF,
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF;
}

#skill-title div{
  background-color: #eac7c7;
  width: 7.5vw;
  height:7.0vw;
  position: absolute;
    bottom: -25%;
    left: 22%;
  z-index: 20;
}

#skill-flower{
  width: 33%;
  height: auto;
  position: absolute;
    top: -35%;
    right: 2%;
}

#skill-flower img{
  width: 100%;
  height: auto;
}

#skill-table{
  margin: 50px auto 0 auto;
}

#skill-table td{
  padding: 30px 50px;
}

.skill-name{
  font-weight:bold;
  font-size: 1.8vw;
}

.skill-info{
  font-size: 1.3vw;
}

.skill-name::before{
  content: "◼️";
}
/* /SKILLセクション */


/* ABOUTセクション */
#ABOUT{
  width: 100%;
  background-color: #cfc6c1;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-title{
  width: 100%;
  height: 10.0vw;
  position: relative;
}

#about-title h2{
  position: absolute;
  color: #fbfbf8;
  z-index: 30;
}

#about-title div{
  background-color: #eac7c7;
  width: 25.0vw;
  height: 3.5vw;
  position: absolute;
    bottom: 0%;
    left: 9%;
  z-index: 20;
}

#about-container{
  width: 100%;
  aspect-ratio: 7 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-div{
  width: 50%;
  aspect-ratio: 1 / 1;
  height: auto;
  position: relative;
}

#hashimoto-figure{
  width: 55%;
  height: auto;
  aspect-ratio: 800 / 1201;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  margin: auto;
  z-index: 30;
}

#hashimoto{
  width: 100%;
  height: auto;
}

#about-div div{
  background-color: #eac7c7;
  width: 10.0vw;
  height: 10.0vw;
  position: absolute;
    bottom: -5%;
    right: 12%;
  z-index: 20;
  border: 1px solid #fbfbf8;
}

#about-flower{
  width: 40%;
  height: auto;
  position: absolute;
    bottom: -10%;
    left: 0%;
  z-index: 20;
}

#about-flower img{
  width: 100%;
  height: auto;
}

#about-info{
  width: 50%;
  aspect-ratio: 1 / 1;
  height: auto;
  display: flex;
  align-items: center;
}

#about-profile > h3{
  font-size: 2.5vw;
  font-weight: 500;
}

#about-profile > h4{
  font-size: 2vw;
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  color: #fbfbf8;
}

#about-profile > p{
  font-size: 1.4vw;
  padding-top: 50px;
  line-height: 2.2em;
}

/* /ABOUTセクション */

/* フッター */
footer{
  background-image: url("img/footer_img.jpg") alt="木の根元の写真" width="600" height="300";
  width: 100%;
  height: auto;  
  padding-top: 100px;
  padding-bottom: 100px;
}

footer h2{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0vw;
  margin: 0;
  padding-left: 5%;
  color: #fbfbf8;
}


#footer-container{
  width: 100%;
  display: flex;
  position: relative;
}

#gototop{
  width: 10%;
  transform: rotate( 180deg );
  position: absolute;
    bottom: 25%;
    right: 10%;
}

#footer-contact{
  color: #fbfbf8;
  padding: 0 50px;
}

#contact-info{
  font-size: 1.5vw;
}

#e-mail{
  margin-top: 30px;
  font-size: 1.4vw;
}

#instalogo{
  width: 50px;
}
/* /フッター */
/* トップページここまで */



/* WORKSページ */
/* WORKSページ　共通 */
.works-page{
  background-color: #F7F5EB;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 200px;
}

.works-container{
  width: 100%;
  height: auto;
}

.works-about{
  text-align: center;
}

.works-title{
  margin: 0;
  padding-top: 50px;
}

.works-overview{
  margin: 0;
}

.workspage-figure{
  width: 60%;
  height: auto;
  margin: 60px auto;
}

.workspage-figure img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}

.works-detail{
  width: 60%;
  margin: 0 auto;
}

.works-detail h3{
  font-size: 1.5vw;
  font-weight: bold;
  margin:50px auto 10px auto;
  position: relative;
  padding-left: 1.0em;
}

.works-detail h3::before {
  position: absolute;
    top: 0;
    left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
  vertical-align: inherit;
  text-decoration: inherit;
}

.works-detail p{
  font-size: 1.2vw;
  margin-top: 0;
}

.home-link{
  display: block;
  width: fit-content;
  margin: 50px auto 0 auto;
  background-color: #EAC7C7;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-decoration:none; 
}

.home-link:link{
  color: white;
}

.home-link:visited{
  color: white
}

.gotoworkstop{
  display: block;
  width: 10%;
  height: auto;
  transform: rotate( 180deg );
  position: absolute;
    right: 5%;
    bottom: 0%
}







/* スマホ用 */
@media screen and (max-width: 767px){

  /* PC用メニュー非表示 */
  #header-nav{
    display: none;
  }

  /* ハンバーガーメニュー */

#sp-menu{
  width: 12%;
  height: auto;
}

  #sp-nav{
    display: none;
    background-color: #F7F5EB;
    position: fixed;
      left: 0;
      top: 0;
    width: 100%;
    height: 100dvh;
    z-index:300;
    text-align: center;
  }

  #sp_HNlogo img{
    width: 25%;
    height: auto;
    position: absolute;
      top: 10px;
      left: 10px;
  }

  #sp-nav-close{
    width: 15%;
    position: absolute;
      top: 10px;
      right: 10px;
  }

  #sp-nav-list{
    margin: 33% auto;
  }

  .sp-nav-item{ 
    list-style: none;
    font-size: 8.0vw;
    padding-bottom: 0.5em;
  }

  .sp-nav-item a{
    text-decoration: none;
    color: #534f4d;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  #nav-figure{
    width: 90%;
    position: absolute;
      right: 0;
      left: 0;
      bottom: 5%;
    margin: 0 auto;
  }

  #nav-img{
    display: block;
    width: 100%;
    height: auto;
  }
  /* /ハンバーガーメニュー */


  /* メインビジュアル */
  #main-visual{
    width: 100%;
    aspect-ratio: 10 / 9;
  }

  #mv-img{
    width: 100%;
    aspect-ratio: 4 / 3;
    position: absolute;
      top: 0;
      right: 0;
    z-index: 10;
  }

  #HNlogo{
    width: 20%;
    height: auto;
  }

  #sp-catchcopy{
    width: 25%;
    height: auto;
    z-index: 20;
    position: absolute;
      top: 17%;
      right: 7%;
  }

  #sp-catchcopy img{
    width: 100%;
    height: auto;
  }



  /* /メインビジュアル */


 /* WORKSセクション */ 
  #works-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .works-item{
    display: block;
    width: 90%;
    margin: 30px auto;
  }

  .works-figure{
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
  }
 /* /WORKSセクション */


 /* SKILLセクション */

  #skill-table{
  margin: 0;
}

  #skill-table tr,
  #skill-table td{
    display: block;
  }

  #skill-table td{
    padding: 10px 0 0 0;
  }

  #skill-table tr{
    padding: 30px 30px;
  }

  .skill-name{
    font-size: max(3.5vw, 20px);
  }

  .skill-info{
    font-size: max(2.5vw, 15px);
  }
  /* /SKILLセクション */


 /* ABOUTセクション */
  #ABOUT{
  padding-bottom: 20px;
}

  #about-container{
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
  }

  #about-div{
    width: 100%;
    aspect-ratio: 10 / 9;
    height: auto;
    position: relative;
  }

  #hashimoto-figure{
    margin: 0 auto;
    width: 50%;
    height: auto;
    aspect-ratio: 800 / 1201;
  }
  
  #hashimoto{
    width: 100%;
    height: auto;
  }

#about-div div{
  width: 18.0vw;
  height: 18.0vw;
  position: absolute;
    bottom: 5%;
    right: 12%;
}

#about-flower{
  width: 40%;
  height: auto;
  position: absolute;
    bottom: 0%;
    left: 0%;
}
  
  #about-info{
    width: 100%;
    aspect-ratio: 2 / 1;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  #about-profile > h3{
    font-size: max(4.0vw, 20px);
    font-weight: 500;
  }
  
  #about-profile > h4{
    font-size: max(3.5vw, 20px);
    font-family: "Hina Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color: #fbfbf8;
  }
  
  #about-profile > p{
    font-size: max(2.5vw, 13px);
    padding-top: 30px;
    line-height: 2.2em;
  }

 /* /ABOUTセクション */


  /* フッター */
  footer h2{
    padding-top: 30px;
  }
  
  footer{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  #footer-container{
    width: 100%;
    display: flex;
    position: relative;
  }
  
  #gototop{
    width: 15%;
    transform: rotate( 180deg );
    position: absolute;
      bottom: 5%;
      right: 5%;
  }
  
  #footer-contact{
    padding: 0 5%;
  }
  
  #contact-info{
    font-size: max(2.2vw, 13px);
  }
  
  #e-mail{
    margin-top: 0px;
    font-size: max(2vw, 15px);
  }
  
  #instalogo{
    width: 30px;
  }

/* WORKSページ */
/* WORKSページ　共通 */
.works-detail{
  width: 80%;
  margin: 0 auto;
}

.works-detail h3{
  font-size: 4.5vw;
  font-weight: bold;
  margin:50px auto 10px auto;
}

.workspage-figure{
  width: 90%;
  height: auto;
  margin: 60px auto;
}

.works-detail p{
  font-size: 3.5vw;
  margin-top: 0;
}

.gotoworkstop{
  position: absolute;
    right: 5%;
    bottom: 3%
}


}