html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #534f4d;
}


/* 共通　セクションタイトル */
.section-title{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.section-title::before{
  content: "−";
}

.section-title::after{
  content: "−";
}
/* /共通　セクションタイトル */




/* ヘッダー */
header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
    top: 0;
    z-index: 200;
  background-color: #F7F5EB;
}

#HNlogo{
  width: 10%;
  height: auto;
  padding-left: 2%;
}

#HNlogo img{
  width: 100%;
  height: auto;
}

#nav-list{
  display: flex;
  justify-content: space-between;
}

header > a,.nav-item a{
  text-decoration:none; 
}

header > a,.nav-item a:link{
  color: #534f4d;
}

header > a,.nav-item a:visited{
  color: #534f4d;
}

.nav-item a:hover{
  text-decoration: underline;
}

.nav-item{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  list-style: none;
  font-size: 20px;
  padding: 0 10px;
}

/* スマホ用ハンバーガーメニュー設定 */
@media screen and (min-width: 768px){
  #sp-menu{
    display: none;
  }

  #sp-nav{
    display: none; 
  }
}
/* /スマホ用ハンバーガーメニュー設定 */

/* /ヘッダー */


/* トップページ */
/* メインビジュアル */
#main-visual{
  aspect-ratio: 5 / 3;
  width: 100%;
  background-color: #F7F5EB;
  position: relative;
}

#mv-container{
  width: 100%;
  height: auto;
}

#mv-container p{
  display: block;
  writing-mode: vertical-rl;
  line-height: 3.5vw;
  position: absolute;
    top: 15%;
    left: 8%;
    font-size: 2vw;
}

#mv-img{
  width: 70%;
  z-index: 10;
  margin: 0;
  position: absolute;
    top: 0%;
    right: 0%;
}

#mv-img img{
  width: 100%;
  height: auto;
  border-radius: 0 0 0 80px;
}

#mv-name{
  width: 80%;
  z-index: 20;
  position: absolute;
    bottom: 0%;
    left: 0%;
}

#mv-name p{
  font-size: 10.5vw;
  color: #cfc6c1;
  letter-spacing: -0.7vw;
  margin: 0;
}

.pink{
  color: #EAC7C7;
}

/* /メインビジュアル */


/* WORKSセクション */
#WORKS{
  width: 100%;
  background-color: #F7F5EB;
  padding-top: 100px;
  padding-bottom: 100px;
}

#works-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 10px 10px;
  justify-content: space-around;
  margin: 50px 50px 0 50px;
}

.works-figure{
  width: 300px;
  height: auto;
  aspect-ratio: 2232 / 1592;
  margin: 0 auto;
  background-color: white;
  box-shadow: 4px 4px 15px -12px #777777;
}

.works-figure img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.works-name{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 0;
}

.works-skill{
  margin-top: 0;
}

.works-link{
  text-decoration: none;
}

.works-link:link{
  color: #534f4d;
}

.works-link:visited{
  color: #534f4d;
}
/* /WORKSセクション */



/* SKILLセクション */
#SKILL{
  width: 100%;
  background-color: #F7F5EB;
  padding-top: 100px;
  padding-bottom: 100px;
}

#skill-table{
  margin: 50px auto 0 auto;
}

#skill-table td{
  padding: 30px 50px;
}

.skill-name{
  font-weight:bold;
  font-size: 1.8vw;
}

.skill-info{
  font-size: 1.3vw;
}

.skill-name::before{
  content: "◼️";
}
/* /SKILLセクション */


/* ABOUTセクション */
#ABOUT{
  width: 100%;
  background-color: #F7F5EB;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

#about-info{
  padding-left: 50px;
}

#about-info > h3{
  font-size: 2vw;
  font-weight: bold;
}

#about-info > p{
  padding-top: 50px;
  line-height: 3em;
}

#hashimoto-figure{
  width: 30%;
  height: auto;
  aspect-ratio: 800 / 1201;
}

#hashimoto{
  width: 100%;
  height: auto;
}
/* /ABOUTセクション */


/* フッター */
footer h2{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 40px;
  margin: 0;
}

footer{
  background: linear-gradient(#F7F5EB, #EAC7C7);
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer-container{
  width: 100%;
  display: flex;
  position: relative;
}

#gototop{
  width: 10%;
  transform: rotate( 180deg );
  position: absolute;
    bottom: 25%;
    right: 10%;
}

#footer-contact{
  padding: 0 50px;
}

#contact-info{
  font-size: 1.5vw;
}

#e-mail{
  margin-top: 30px;
  font-size: 1.4vw;
}

#instalogo{
  width: 50px;
}
/* /フッター */
/* トップページここまで */



/* WORKSページ */
/* WORKSページ　共通 */
.works-page{
  background-color: #F7F5EB;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 200px;
}

.works-container{
  width: 100%;
  height: auto;
}

.works-about{
  text-align: center;
}

.works-title{
  margin: 0;
  padding-top: 50px;
}

.works-overview{
  margin: 0;
}

.workspage-figure{
  width: 60%;
  height: auto;
  margin: 60px auto;
}

.workspage-figure img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}

.works-detail{
  width: 60%;
  margin: 0 auto;
}

.works-detail h3{
  font-size: 1.5vw;
  font-weight: bold;
  margin:50px auto 10px auto;
  position: relative;
  padding-left: 1.0em;
}

.works-detail h3::before {
  position: absolute;
    top: 0;
    left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
  vertical-align: inherit;
  text-decoration: inherit;
}

.works-detail p{
  font-size: 1.2vw;
  margin-top: 0;
}

.home-link{
  display: block;
  width: fit-content;
  margin: 50px auto 0 auto;
  background-color: #EAC7C7;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-decoration:none; 
}

.home-link:link{
  color: white;
}

.home-link:visited{
  color: white
}

.gotoworkstop{
  display: block;
  width: 10%;
  height: auto;
  transform: rotate( 180deg );
  position: absolute;
    right: 5%;
    bottom: 0%
}







/* スマホ用 */
@media screen and (max-width: 767px){

  /* PC用メニュー非表示 */
  #header-nav{
    display: none;
  }

  /* ハンバーガーメニュー */

#sp-menu{
  width: 15%;
  height: auto;
}

  #sp-nav{
    display: none;
    background-color: #F7F5EB;
    position: fixed;
      left: 0;
      top: 0;
    width: 100%;
    height: 100dvh;
    z-index:300;
    text-align: center;
  }

  #hasimotologo{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8.0vw;
    margin-top: 80px;
    text-decoration: none;
    display: block;
  }

  #hasimotologo:link{
    color: black;
  }

  #hasimotologo:visited{
    color: black;
  }

  #sp-nav-list{
    padding: 30px 0 0 0;
  }

  .sp-nav-item{ 
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .sp-nav-item a{
    text-decoration: none;
  }

  .sp-nav-item a{
    color: black;
  }

  .sp-nav-item a{
    color: black;
  }

  #sp-nav-close{
    width: 15%;
    position: absolute;
      top: 10px;
      right: 10px;
  }


  #nav-figure{
    width: 80%;
    position: absolute;
      bottom: 5%;
  }

  #nav-img{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  /* /ハンバーガーメニュー */


  /* メインビジュアル */
  #main-visual{
    width: 100%;
        aspect-ratio: 4 / 5;
  }

  #mv-img{
    width: 100%;
    aspect-ratio: 4 / 3;
    z-index: 10;
    position: absolute;
      top: 10%;
      right: 0;
  }

  #nc-name{
    font-size: 7vw;
  }

  #nc-catchcopy{
    font-size: 2.8vw;
  }
  /* /メインビジュアル */


 /* WORKSセクション */ 
  #works-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .works-item{
    display: block;
    width: 90%;
    margin: 30px auto;
  }

  .works-figure{
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
  }
 /* /WORKSセクション */


 /* SKILLセクション */

  #skill-table{
  margin: 0;
}

  #skill-table tr,
  #skill-table td{
    display: block;
  }

  #skill-table td{
    padding: 10px 0 0 0;
  }

  #skill-table tr{
    padding: 30px 30px;
  }

  .skill-name{
    font-size: max(3.5vw, 20px);
  }

  .skill-info{
    font-size: max(2.5vw, 15px);
  }
  /* /SKILLセクション */


 /* ABOUTセクション */
  #ABOUT{
  padding-bottom: 20px;
}

  #about-container{
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
  }


  #hashimoto-figure{
    margin: 0 auto;
    width: 80%;
    height: auto;
    aspect-ratio: 800 / 1201;
  }
  
  #hashimoto{
    width: 100%;
    height: auto;
  }

  #about-info{
    margin: 0 10px;
    padding: 20px;
  }
  
  #about-info > h3{
    font-size: 5vw;
  }
  
  #about-info > p{
    padding-top: 0;
    font-size: 3.5vw;
    line-height: 1.5em;
  }
 /* /ABOUTセクション */


  /* フッター */
  footer h2{
    padding-top: 30px;
  }
  
  footer{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  #footer-container{
    width: 100%;
    display: flex;
    position: relative;
  }
  
  #gototop{
    width: 15%;
    transform: rotate( 180deg );
    position: absolute;
      bottom: 5%;
      right: 5%;
  }
  
  #footer-contact{
    padding: 0 5%;
  }
  
  #contact-info{
    font-size: max(2.2vw, 13px);
  }
  
  #e-mail{
    margin-top: 0px;
    font-size: max(2vw, 15px);
  }
  
  #instalogo{
    width: 30px;
  }

/* WORKSページ */
/* WORKSページ　共通 */
.works-detail{
  width: 80%;
  margin: 0 auto;
}

.works-detail h3{
  font-size: 4.5vw;
  font-weight: bold;
  margin:50px auto 10px auto;
}

.workspage-figure{
  width: 90%;
  height: auto;
  margin: 60px auto;
}

.works-detail p{
  font-size: 3.5vw;
  margin-top: 0;
}

.gotoworkstop{
  position: absolute;
    right: 5%;
    bottom: 3%
}


}